@charset 'utf-8';

/* @font-face {
    font-family: 'Quantum';
    src: url('../font/quantum-webfont.woff2') format('woff2'),
         url('../font/quantum-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

} */

@import url('https://fonts.googleapis.com/css?family=Gochi+Hand|Rock+Salt');


body{
}
#wrap{
    background:url(../img/nasa_earth.jpg) no-repeat center;
    background-size:cover;
    height:100vh;
    transition:all 0.5s;
    
}
#wrap.einsteinClicked{
    background-image:url(../img/moon.jpg);
    height:100vh;
            
}

/* ----------title------------------- */

/* .titleBox{
    width:1000px;
    height:500px;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    opacity:1;
    transition:all 0.5s;
}
.title{
    font-size:150px;
    font-family:Quantum;
    color:rgba(202, 202, 202, 0.3);
}
.titleBox.hide{
    opacity:0;
}
.first{
    float: left;
    padding-left:25px;
    padding-top:20px;
}
.second{
    float:right;
    padding-left:30px;
    padding-top:230px;
} */

/*-------------main--------------*/
.message{
    position: fixed;
    top:2%;
    left:53%;
    user-select: none;
    opacity: 0.9;
}
.here{
    font-family: Gochi Hand;
    color:rgb(238, 238, 238);
}
.here i{
    margin-left:10px;
    vertical-align: middle; 
}

.me{
    position: fixed;
    right:-15px;
    top:-10px;
}
.meColored{
    filter:grayscale(100%);
    width:50px;
    transform: rotate(-20deg);
    cursor: pointer;
}
.meColored:hover{
    filter:grayscale(50%);
    transform: rotate(-20deg) translateX(-5px);
}

.solvay{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    width:1000px;
    height:500px;
    background:url(../img/solvay_complete_modified.png) no-repeat center;
    background-size:cover;
    
}

.solvay .scientist{
    /* width:235px;
    height:556px;
    background:url(../img/einstein_color.png) no-repeat center; */
    cursor: pointer;
}
.solvay .scientist.on{
    opacity:1;
}

.einstein{
    bottom:72px;
    right:387px;
    position: absolute;
    opacity:0;
    transition:all 0.5s;
    filter:none;
}
.einstein:hover{
    opacity:1;
}

.einstein img{
    width:110px;
}
