@charset 'utf-8';

@font-face {
    font-family: "Qauntum";
    src:url("../font/Quantum.otf");
}

body{
    background:url(../img/nasa_earth.jpg) no-repeat center;
    background-size:cover;
    height:100vh;
}
#wrap{
    
}

.text{
    position: relative;
}
.text h1{
    font-size:150px;
    font-family: Quantum;
    z-index:-100;
    position:absolute;
    color:#fff;
}
.first{
    top:80px;
    left:205px;
}
.second{
    top:440px;
    left:150px;
}

.solvay{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    width:1000px;
    height:500px;
    background:url(../img/solvay_complete.png) no-repeat center;
    background-size:cover;
}

.solvay .scientist{
    /* width:235px;
    height:556px;
    background:url(../img/einstein_color.png) no-repeat center; */
    
}

.einstein{
    bottom:65px;
    right:385px;
    position: absolute;
}

.einstein img{
    width:113px;
}
