@charset 'utf-8';

@font-face {
    font-family: "Qauntum";
    src:url("../font/Quantum.otf");
}

#wrap{
    width:100%;
    height:100vh;
    
}
.solvay{
    position: relative;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    width:1000px;
    height:500px;
    background:url(../img/solvay_gray_scale.jpg) no-repeat center;
    background-size:cover;
}

.solvay .scientist{
    /* width:235px;
    height:556px;
    background:url(../img/einstein_color.png) no-repeat center; */
    
}

.einstein{
    bottom:65px;
    right:385px;
    position: absolute;
}

.einstein img{
    width:113px;
}
